{% extends "base.html" %} 
{% load static %}
{% comment %} <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/> {% endcomment %}
{% comment %} Burada favicon oluşturmak redirect yapısını boazar ve 302 hatası verir {% endcomment %}
{% block title %} 
My Blog 
{% endblock %} 

{% block css_files %}
  <link rel="stylesheet" href="{% static "blog/post.css" %}" />
  <link rel="stylesheet" href="{% static "blog/index.css" %}" />
{% endblock %}

{% block content %}
<section id="welcome">
  <header>
    <img src="{% static "blog/images/seher.png" %}" alt="Seher - The Author Of This Blog" />
    <h2>SEHER'S BLOG</h2>
  </header>
  <p>Hello, I'm Seher and I blog about technology and the world 😄</p>
</section>

<section id="latest-posts">
  <h2>My Latest Thoughts</h2>
  <ul>
    {% for post in posts %}
      {% include "blog/includes/post.html" %}
    {% endfor %}
  </ul>
</section>

<section id="about">
  <h2>What I Do</h2>
  <p>
    Programming is my passion, and I also enjoy sharing 
    my knowledge and experience with others. 
    I am always curious about new technologies and how they can improve 
    our lives and work.
  </p>
  <p>
    My goal is to keep on growing as a developer. 
    I want to share some of the tips and resources that have helped me 
    grow as a developer - and hopefully, they can help you too!
  </p>
</section>
{% endblock %}